
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
  --background: 60 100% 98%;
  --foreground: 240 100% 20%;
  --card: 255 100% 97%;
  --card-foreground: 240 100% 30%;
  --popover: 255 100% 97%;
  --popover-foreground: 240 100% 20%;
  --primary: 60 100% 50%;
  --primary-foreground: 240 100% 10%;
  --secondary: 140 60% 35%;
  --secondary-foreground: 0 0% 100%;
  --muted: 60 100% 95%;
  --muted-foreground: 240 100% 30%;
  --accent: 200 100% 60%;
  --accent-foreground: 0 0% 100%;
  --destructive: 360 100% 50%;
  --destructive-foreground: 0 0% 100%;
  --border: 0 0% 80%;
  --input: 0 0% 100%;
  --ring: 60 100% 40%;
  --chart-1: 60 100% 70%;
  --chart-2: 140 100% 60%;
  --chart-3: 200 100% 50%;
  --chart-4: 360 100% 60%;
  --chart-5: 30 100% 50%;

    --radius: 0.5rem;
  }

  .dark {
  --background: 240 100% 20%;
  --foreground: 60 100% 95%;
  --card: 240 100% 25%;
  --card-foreground: 60 100% 97%;
  --popover: 240 100% 25%;
  --popover-foreground: 60 100% 95%;
  --primary: 60 100% 50%;
  --primary-foreground: 240 100% 95%;
  --secondary: 140 60% 65%;
  --secondary-foreground: 240 100% 10%;
  --muted: 240 100% 15%;
  --muted-foreground: 60 100% 95%;
  --accent: 200 100% 50%;
  --accent-foreground: 0 0% 0%;
  --destructive: 360 100% 40%;
  --destructive-foreground: 0 0% 95%;
  --border: 240 100% 30%;
  --input: 240 100% 25%;
  --ring: 60 100% 40%;
  --chart-1: 60 100% 40%;
  --chart-2: 140 100% 50%;
  --chart-3: 200 100% 70%;
  --chart-4: 360 100% 50%;
  --chart-5: 30 100% 40%;
  }
}
